/* =============
    Associations
============= */
@use "../helpers";

#associations{
    background-color: var(--hotPink);
    padding: 56px 24px;
    margin: 0 auto;

    h1{
        text-align: center;
        margin-bottom: 32px;
        color: var(--white);
    }

    p{
        text-align: center;
        margin-bottom: 32px;
        font-size: 17px;
        color: var(--white);
    }

    #association-list{
        display: flex;
        flex-wrap: wrap;         
        gap: 24px;                 
        justify-content: center;   
        list-style: none;
        padding: 0;
        margin: 0;

        @include helpers.lg{
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        .odd-item{
            background-color: var(--tangerine);

            h3{
                text-align: center;
                margin-top: 0;
                font-size: 21px;
                color: var(--white);
            }

            p{
                text-align: left;
                line-height: 26px;
                margin-top: 8px;
                font-size: 17px;
                color: var(--white);
            }

            a{
                font-weight: 600;
                color: var(--white);
                transition: color 0.3s;

                &:hover {
                    color: var(--lightGrey);
                }

            }
        }

        .even-item{
            background-color: var(--lightOrange);

            h3{
                text-align: center;
                margin-top: 0;
                font-size: 21px;
                color: var(--darkPink);
            }

            p{
                text-align: left;
                line-height: 26px;
                margin-top: 8px;
                font-size: 17px;
                color: var(--darkPink);
            }

            a{
                font-weight: 600;
                color: var(--darkPink);
                transition: color 0.3s;

                &:hover {
                    color: var(--reallyDarkPink);
                }
            }
        }



        li{
            flex: 1 1 400px;         
            max-width: 500px;
            border-radius: 10px;
            padding: 24px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
        }
    }
}