/* =============
    Communication
============= */
@use "../helpers";

#communication{
    background-color: var(--white);
    padding: 107px 24px;
    text-align: center;

    // h1{
    //     color: var(--ni)
    // }

    p{
        color: var(--grey);
        font-weight: 600;
        line-height: helpers.rem-calc(28);
        margin-top: 24px;
        margin-bottom: 48px;
    }
}