/* =============
    Communication
============= */
@use "../helpers";

#communication{
    background-color: var(--white);

    h1{
        color: var(--ni)
    }

    p{
        color: var(--grey);
    }
}