/* =============
    Contact
============= */
@use "../helpers";

#contact{
  text-align: center;
  padding: 30px 20px;

  h1{
    font-size: 40px;
    margin-bottom: 15px;
  }

  p{
    font-size: 19px;
    margin-bottom: 20px;
  }

}