/* =============
    Home
============= */
@use "../helpers";

#home{
    position: relative;

    canvas#canvas-complex {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
  }

    padding: 56px 56px;

    @include helpers.sm{
        display: grid;
        grid-template-columns: "home-content"
                                "home-aside";
    }

    @include helpers.md{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }

    @include helpers.lg{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 64px;
    }

    section{

        @include helpers.sm{
            grid-areas: "home-content";
        }   

        flex: 1;

        h1{
            text-align: center;
            color: var(--white);
            margin-bottom: 20px;
        }

        p{
            text-align: center;
            color: var(--white);
            margin-bottom: 32px;
        }
    }

    aside{
        @include helpers.sm{
            grid-areas: "home-aside";
        }

        flex: 1;
        display: flex;
        justify-content: center;

        img.img-scaler{
            height: auto;
            border-radius: 12px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

            @include helpers.sm{
                width: 100%;
                max-width: 100px;
            }

            @include helpers.md{
                width: 100%;
                max-width: 300px;
            }

            @include helpers.lg{
                width: 100%;
                max-width: 400px;
            }
        }
    }
}
