/* =============
    Newsletter
============= */
@use "../helpers";

#newsletter{
    padding: 40px 24px;

    #newsletter-content{
        background-color: var(--lilyWhite);
        padding: 60px 16px;

        // h1{
        //     color: var(--nightBlue);
        // }

        p{
            color: var(--grey);
            font-weight: 600;
            line-height: helpers.rem-calc(28);
            margin: 16px 0;
        }

        form{
            input{
                border: none;
                color: var(--grey);
                font-weight: 600;
                width: 100%;
                padding: 24px 8px;
                box-sizing: border-box;
                border-radius: 8px;
                margin-bottom: 16px;
            }

            div{
                text-align: right;
            }
        }

        // week 4 code
        aside{
            display: none;
        }
    }
}