/* =============
    Newsletter
============= */
@use "../helpers";

#newsletter{
    background-color: var(--lilyWhite);

    // h1{
    //     color: var(--nightBlue);
    // }

    p{
        color: var(--grey);
    }

    form{
        input{
            border: none;
            color: var(--grey);
        }

        button{
            background-color: var(--nightBlue);
            border: none;
            color: var(--white)
        }
    }
}